body{
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain; */

  /* backgournd: color image repeat position/size */ 

  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;

}

#container{
  border: 1px solid yellowgreen;

  width: 360px;
  height: 712px;
}